@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,400&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
   overflow-x: hidden; 
}
body{
  font-family:'Poppins', sans-serif ;
  background: #fff;
  color: #333;
  line-height: 1.6;
}
ul{
  list-style: none;
}
a{
  color:#333;
  text-decoration: none;
}
h1 ,h2{
  font-weight: 300;
  line-height: 1.2;
}
p{
  margin:10px 0;
}
.main-p-one-2{
  display: flex;
  justify-content: space-between;
  background: url(../image/back-3.png) no-repeat center center/cover;
  padding: 70px;
  margin: 2rem;
  border-radius: 19px;
}
.pro-p-one-2{
  font-size: 30px;
  color: #FFFFFF;
}
.banner{
  background: url(../image/section-1-background.png) no-repeat center center/cover;
 position: relative;
 padding-top: 7rem;
 padding-bottom: 9rem;

}
.banner-p2{
  font-size: 19px;
  color: #FFFFFF;
  max-width: 1056px;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}
.banner-p1{
  font-size: 49px;
  color: #FFFFFF;
  max-width: 292px;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}
.sec1-image-main{
  width: 20px;
   height: 20px; 
}
.inform-main{
  display:flex;
 justify-content: center;
 text-align: center;
 align-items: center;
 margin: auto;
 padding: 0px 30px;
 border-radius: 36px;
 border: 1px solid #FFFFFF;
 background-color: transparent;
 color: #fff;
 gap:10px;
  
}
.sec1-p-main{
  font-size: 13px;
}
.travel-p{
  font-size: 36px;
}
.banner-p1{

}
.pro-p-one-1{
  font-size: 19px;
  color:#FFFFFF;
  margin: auto;
}
.pro-image{
  width: 35px;
  height: 26px;
}
.pro-p-call{
  font-size: 25px;
  color: #242525;
}
.main-craft{
  display:flex;
  justify-content: space-between;
 margin: 2rem;
  /* padding: 2rem; */
}
.main-amaz{
  display:flex;
  justify-content: space-between;
  background: url(../image/back5.png) no-repeat center center/cover;
  margin: 3rem;
  padding: 70px;
  border-radius: 23px;
}
.inner-amaz-p-one{
  font-size: 30px;
  color: #FFFFFF;
  max-width: 315px;
}
.inner-amaz-p-two{
  font-size: 19px;
  color: #FFFFFF;
  max-width: 475px;
 margin: auto;

}
.inner-amaz-image{
  width: 37px;
  height: 15px;
}
.inner-amaz{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffff;
  padding: 10px 30px;
  border-radius: 12px;
  gap: 20px;
  border: none;
}
.main-plan-image{
width: 61px;
height: 81px;
margin: auto;
}
.inner-amaz-p{
  font-size: 24px;
}
.main-plan-grid{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  justify-content: center;
 margin: 2rem;
}
.main-plan-p-one{
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  max-width: 605px;
  
}
.main-plan-pone-two{
  font-size: 21px;
  color: #FFFFFF;
}
.main-plan-image-one{
  width: 28px;
  height: 27px;
}
.inner-plan-pone{
  font-size: 66px;
  color: #0670F4;
}
.inner-plan-ptwo{
  font-size: 24px;
  color: #000000;
}
.main-plan-button{
  display:flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  background-color: #0670F4;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
}
.main-plan-p-two{
  font-size: 19px;
  max-width: 584px;
 
}
.inner-craft-p-one{
  font-size: 21px;
  color: #000000;
  max-width: 399px;
  margin: auto;
}
.inner-craft-pone-two{
  font-size: 17px;
  color: #000000;
  max-width: 429px;
 margin: auto;
}

.inner-craft-image2{
  width: 35px;
  height: 49px;
  margin: auto;
  text-align: center;
  align-items: center;
}
.main-craft-image1{
  width: 624px;
  height: 329px;
}
.inner-p-one-2{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 0px 30px;
  border: none;
}


 .navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  color:#fff;
 background-color: #333;
   /* opacity:0.6 ;  */
  width: 100%;
  height: 70px;
  position:fixed;
  padding:0 30px;
  margin-bottom: 30rem;
 }
 .navbar a{
  color:#FFFFFF; 
  padding:10px 50px;
  margin:0 5px;
  
 }
 .fa-solid {
  position: relative;
  right:30px;
 }
 .navmini{
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  min-height: 70px;
  padding: 0 24px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 }
 .headerimage{
  position: relative;
  max-width: 100%;
  /* height: 305px; */
  bottom:100px;
  margin: auto;
 }
 .nav-link{
  font-size: 17px;
  color: #FFFFFF;
 }
 .header{
  position:sticky;
  top:0;
  z-index: 1;
}
 .nav-button{
  padding: 20px 40px;
  background: #0670F4;
  border-radius: 9px;
  border: none;
 }
 .nav-menu{
  display:flex;
  justify-content:space-between;
  text-align: center;
  align-items: center;
   gap:20px;
 }

 .navbar ul{
  display:flex;
  padding: 5px 6px;
  padding-top: 40px;
 }
 .active1{
  color:#fff;
  background:#000fff;
 padding:15px 5px;
 border-radius: 9px;
 padding-bottom: 25px;
 }
 .hero{
  background: url(../image/background.png) no-repeat center center/cover;
 height: 100vh;
 position: relative; 
 color: #fff;
 }
 .content1{
  display: flex;
  flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 100%;
    padding:0 20px;    
 } 
  .girr-one{
  font-size: 36px;
  font-weight: bold;
   text-align: center;
   max-width: 292px;
   margin: auto; 
  } 
  .ress-one{
    max-width: 1056px;
    font-size: 19px;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: #FFFFFF
  
    }
    .inner-craft-image1{
      box-shadow: 10px 10px 30px #70707080;
      color: #FFFFFF;
      border: 1px #70707080;
      padding: 10px 20px;
      border-radius: 10px;
    }
  
  .img-one{
    padding-top: 2rem;
    
  }
  .img-two{
    height:21px;
    width: 21px;
  }
  .btn-one{
    color: #fff;
    gap:10px;
  }
  .tech-one{
    border-radius: 20px;
    /* padding-top: 1rem; */
    border:1px solid #fff;
    padding:0.5rem  1rem;
  }
  .active a:hover{
     color:#cc0000;
  }
  .active{
    color:#000000; 
  }

 /*-----------------   Mmedia queries---------------------*/
 @media(max-width:425px){
  .main-amaz{
    display:block;
   
  }
  .inner-amaz-p-two{
 padding-bottom: 20px;
  }
  .main-amaz{
    margin: 0rem;
   
  }
  .inner-amaz-p-one{
    font-size: 25px;
    
  }
 }
 
 
 
 @media(max-width:768px){
  .navbar{
    flex-direction: column;
    height:100px;
    /* padding:20px; */
  }
  .main-plan-grid{
    display: block;
   
  }
  .inner-amaz{
   margin: auto;
  }
  .headerimage{
  width: 90%;
    margin: 0px;
   
    
   }

  .inner-amaz-p-two{
   padding-bottom: 20px;
  
  }
  .inner-amaz-p-one{
    font-size: 25px;
    color: #FFFFFF;
    max-width: 315px;
   margin: auto;
   padding-bottom: 20px;

  }
  .main-amaz{
    display:block;
    margin: 1rem;
  }
 
  .inner-plan-po{
    justify-content: center;
    text-align: center;
  }
  .inner-p-one-2{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
   margin: auto;
  }

  
  .pro-p-one-2{
    font-size: 25px;
   
  }
  .pro-p-one-1{
    font-size: 13px;
    padding-bottom: 20px;
   
  }
  .main-p-one-2{
    display: block;
  }
  .navbar a{
    padding: 80px 10px;
    margin: 0 25px;
  }
  .active1{
    padding-top:-40px 0px;
  }
  .content1{
    justify-content: center;;
  }
  
 
 }
 @media(max-width:768px){
  .main-craft{
    display:block;
    
  }

 }
  @media(max-width:320px){
    .navbar{
      flex-direction: column;
      height:120px;
     
  }
  .navbar a{
    padding: 40px -70px;
    
  }

}
@media(max-width:1024px){
  .main-craft{
    gap:30px;
  }
  .main-plan-grid{
    gap:20px;
   margin: 1rem;
  }
  .inner-p-one-2{
    padding: 0px 10px;
 
  }
  .main-p-one-2{ 
    margin: 0rem; 
  }
}
 
  




  
  /* <!------------second-2--------------------- */
  .ap-1{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    
   }
   .app-one{
    font-size: 30px;
    color: #fff;
    font-weight:Bold;
   }
   .gain-one{
    font-size: 19px;
    max-width: 1010px;
    margin: auto;
     
   }
   .br-one{
   margin:1rem;
  
   }
   .dev-1{
    color: #fff;
    
   }
   .lead{
    padding: 60px;
    background: url(../image/background2.png) no-repeat center center/cover;
   
   }
    .image-1{
      display: flex;
      justify-content: center;
      align-items: center;
    }
   
   
    /*----------------------  media queries------*/
    @media(max-width:768px){
      .lead{
        display:block;
      }
      .gain-one{
        
        font-size:15px ;
        text-align: center;
        margin: auto;
      }

      .app-one{
        font-size: 25px;
        color: #fff;
        font-weight:Bold;
       }
      .image-1{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
     
       /* margin:rem; */
       /* padding:20px; */

       
      }

      .br-one{
        
      }
    }
    @media(max-width:425px){
      .image-1{
        display:block;
        justify-content: center;
        margin: auto;
        text-align: center;
      }

     
    }
    @media(max-width:320px){
      .image-1{
        display:block;
        justify-content: center;
        text-align: center;
      }
     
     
      .gain-one{
        text-align: center;
      }
      .app-one{
        padding-bottom: 10px;
      }
    }


    /* --------------------------section-3--------------------- */
  .con-one{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:70px;
    background: url(../image/back-3.png) no-repeat center center/cover;
    color: #fff;
    border-radius: 19px;
    
  }
  
  .con-two{
    font-size: 30px;
    padding-bottom: 10px;
  }
  .cal-one{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding: 15px;
    background-color: #fff;
    padding-left: 3rem;
    border:none;
    
    
    color: #333;

     border-radius: 12px; 
  }
  .bl-one{
    font-size:25px;
  }
 

  /*--------------------------*/
  @media(max-width:320px){
    
    .con-one{
      justify-content: center;
      border-radius: 19px; 
    }
  }
   
   /* <!--- ----------   section-4  ------------------------                 */
 
    .gir-one{
      display:flex;
      justify-content: space-between;
      align-items: center;
      margin: 8rem;
    }
  .set-two{
    width: 35px;
    height:49px;
  }
   .hgh-one{
    border:1px solid #70707080;
    border-radius: 16px;
    padding: 20px;
  } 
  .hw-one{
    font-size: 21px;
    font-weight: bold;
  }
  .hw-two{
    font-size: 17px;
    max-width: 429px;
    margin: auto;
  }
  .set-one{
   width: 640px;
   height: 301px;
   padding: 30px;
  }
 
 
  @media(max-width:768px){
    .gir-one {
      display: block;
      margin:1rem;
    }
   
   
    .set-one{
      width: 750px;
      height: 500px;
      padding: 0px;
     }
     .hgh-one{
      padding:30px;
     }
     .set-two{
      display:flex;
      align-items: center;
      justify-content: center;
      text-align: center;
     }
  }

   /* <!--  section-5---------------------- */
   .amaz-one{
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    background: url(../image/back5.png) no-repeat center center/cover;
    padding:70px;
    border-radius:12px;
    
  }
  .star-one{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:18px;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
  }
  .get-one{
    font-size: 24px;
  }
  .ty-one{
    font-size: 30px;
    color: #fff;
  }
  .ty-two{
    font-size: 19px;
    color: #fff;
    max-width: 475px;
  }
  @media(max-width:768px){
    .amaz-one{
      display:block;
      margin:3rem;
      padding: 40px;
    }
    .star-one{
      text-align: start;
      padding: 10px;
      margin:1rem;
    }
    .image19{
      width: 500px;
      height: 400px;
      margin-right: 0rem;
   
     }
  }
  /* <!--------------section-6-----------------*/
  .custom-flex{
    display:flex;
    justify-content: center;
  }
  /*-------------- <section-7 ----------------------------*/
  .succ-one{
    width:61px;
    height:82px;
  }

  .text-grid-one{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
  }
  .image19{
    width: 1947px;
    height: 717px;
    margin-right: 12rem;
 
   }
  
  
 
  .wat-one{
    font-size: 40px;
    color: #333;
    font-weight: bold;
    /* margin-bottom: 45px; */
  }
  .wat-two{
    font-size: 19px;
    max-width: 584px;
   padding-bottom: 50px;
  }
  .btn-5{
    display: flex;
    gap:10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    border:none;
    background: #0670F4;
    padding: 20px;
    border-radius: 12px;
    color: #fff;
    /* gap:30px; */
  }
  .K-one{
    font-size: 66px;
    width: 169px;
    
    color: #0670F4;
  }
  
  .ser-one{
    font-size: 24px;
   
  }
  .consult-one1{
    display: flex;
    text-align: center; 
    display:flex;
    justify-content: center;
  }
  
  @media(max-width:768px){
    .exp-one{
      display:block;

    }
  
    .K-one{
      text-align: center; 
      justify-content: center;
      align-content: center;
      align-items: center;
      position:relative;
      left:190px;
    }
    .image19{
     width: 1600px;
     height: 717px;
    margin: 0px 10px;
    }
   

  }
  @media(max-width:320px){
    .giros-one{
     display:none;
    }
    .giros-two{
      display:block;
    }
    .shine-one{
      display:none;
    }
    .shine-one{
      display:block;
    }
    .wat-one{
     justify-content: flex-start;
     text-align: left;
  }
 
  .K-one{
    font-size: 40px;
    width: 50px;
    
    color: #0670F4;
  }
}


   /* <------------------section-8--------------------------------> */
  ff
  .sec-8{
    width: 72px;
    height: 70px;
 
  }
  .pro-one{
    font-size: 40px;
    max-width: 794px;
    color: #000000; 
  }
  .pro-two{
    font-size: 19px;
   max-width: 1064px;
   margin: auto;
  }
  .who-one{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 80px;
  }
  @media(max-width:768px){
    .btn-twenty{
      padding-bottom: 8rem;
    }
   }
  
   /* <----------------sec-10----------------------- */
   .con-10{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem;
   background-color: #0670F4;
    padding:45px;
    border-radius: 12px;
  }
  .ted-one{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #fff;
    padding: 10px 40px;
    border-radius: 12px;
    border: none;
   
  }
  .sec-10{
    width: 37px;
    height: 30px;
  }
  .ton-one{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    
   
  }
  .ton-two{
    font-size: 19px;
    color: #fff;
   
  }
  .star-one{
    font-size: 24px;
  
  }
  @media(max-width:768px){
    .con-10{
      display:block;
      margin:-1rem;
      margin-bottom: 5rem;
    }
   
  }
  /* <---------------sec-11--------------------------------- */
  .sec-0ne{
    width: 98px;
    height: 72px;
  }
  .chal-one{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tra-one{
    font-size: 40px;
    font-weight: bold;
    
    color: #000000;

  }
  .tra-two{
    font-size: 19px;
    max-width: 1084px;
    
  }
    /* <---------------------sec-12--------------------------- */

    .inno-one{
      width: 79px;
      height: 90px;
    }
    .opt-one{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5rem;
    }
    .ien-one{
      font-size: 40px;
      max-width: 767px;

    }
    .ien-two{
      font-size: 19px;
      max-width: 662px;
      padding-bottom: 20px;
   
    }
    .dr-one{
      width:624px;
      height: 69px;
      margin-right: -10px;
      margin-bottom: -10px;
      margin-top: -5px;
    }
    .btn-twenty{
      font-size: 22px;
      background-color:#0670F4;
     border-radius: 0px 6px 6px 0px;
      padding: 20px 40px;
      margin-bottom: -15px;
    }
     /* <--------------------------sec-13--------------------- */
 .tch-one{
  display:flex;
  justify-content: center;
  align-items: center;
  }
  .sec-13{
   width: 201.61px;
   height: 201.61px;
  }
  .stack{
   font-size: 25px;
   color: #000000;
   font-weight: bold;
   
  }
  .stack-one{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media(max-width:768px){
    .tch-one{
      display:block;
      text-align: center;
    } 
  }

   /* <!--------------section14--------------------------------- */
 .we-one{
  width: 43px;
  height: 43px;
 }
 .ffer-one{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:8px;
 }
 .comb-two{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .pone{
  font-size: 30px;
  color: #000000;
  font-weight: bold;
 
 }
 .comb-one{
  display: flex;
  justify-content: center;
  text-align: center;
 }
 .ptwo{
  font-size: 19px;
  max-width: 1108px;
  margin: auto;
 
 }
 .pthree{
  font-size: 19px; 
  text-align: center;
 }
 /* <-------------------section-15--------------------------> */
 .sec-15{
  width: 85px;
  height: 85px;
  
 }
 .des-one{
  font-size: 18px;
  color: #0D3A8F;
 
 }
 .des-two{
  font-size: 17px;
  max-width: 326px;
  margin: auto;
 
 
 }
 
.besty-one{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  align-items: center;
}
  /* <!---------------------------section-16----------------------------------> */

  .liv-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../image1/back-16-1.png) no-repeat center center/cover;
    margin: 5rem;
    padding: 80px;
    border-radius: 19px;
   }
   .lw-one{
    font-size: 30px;
    color: #fff;
   }
   .lw-two{
    font-size: 19px;
    color: #fff;
    max-width: 575px;
  
   }
   .he-one{
    font-size: 25px;
    color:#333;
    padding-left: 4rem;
   }
  
   .on-one{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding:10px 20px;
    gap:30px;
    border-radius: 30px;
  }
  @media(max-width:768px){
    .liv-one{
    display: block;
    padding: 10px 10px 120px 50px;
    text-align: start;
  }
  .besty-one{
    display:block;
    
  }
  .dest-one{
    padding:1rem;
  }
  .ust-one{
    padding:1rem;
  }
  .on-one{
    margin: 0rem;
  }
   br {
      display:inline;
  }
  .liv-one{
    margin: 2rem;
    padding: 40px;
   
   }
   .on-one{
    padding:10px 10px;
    gap:20px;
    
  }
  }
  @media(max-width:425px){
    .liv-one{
    display: block;
    padding: 10px 10px 120px 50px;
    text-align: start;
  }
  .besty-one{
    display:block;
  
  }
  }

   /* <!--------------------section-17------------------- */
 .sec-17{
  width: 43px;
  height: 43px;
 }

 .sus-one{
   display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
 }
 .sec-two{
 width: 923px;
 height: 426px;
 }
 .gen-two{
  font-size: 19px;
  max-width: 795px;
  margin: auto;
  text-align: center;
 }
 .st-one{
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  padding-left: 15px;
 }
 .gen-one{
  font-size: 30px;
  color: #000000;
  font-weight: bold;
 }
 .gen-three{
  text-align:center ;
 }

  /* <!-------------------section--18----------------------- */
  .src-one{
    width: 313px;
    height: 164px;
   }
   .temp{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
   }
   
   .per-one{
    font-size: 22px;
    color: #000000;
    font-weight: bold;
    max-width: 243px;
    margin: auto;
    padding-bottom: 10px;
   }
   .per-two{
    font-size: 19px;
    max-width: 305px;
    margin: auto;
   }
   @media(max-width:768px){
    .temp{
      display: block;
      margin: 2rem;
      text-align: center;
      gap:20px;
    }
    .sec-two{
      width: 750px;
      height: 426px;
      }
   }
/* <!-----------------------section-19--------------------------> */
.sec-19{
  width: 34px;
  height: 34px;
 }
 .too-one{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../image1/back19.png) no-repeat center center/cover;
  padding: 50px;
  border: none;
  border-radius: 23px;
  margin-top: 3rem;
  margin-bottom: 3rem;

 }
 .footer-develop{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
 }
 .footer-develop-p-two{
  font-size: 21px;
  color: #000000;
  padding-bottom: 20px;
 }
 .main-footer-develop-p{
  font-size: 18px;
  color: #000000;
 }
 .footer-develop-p-one{
  font-size: 22px;
  color: #000000;
  font-weight: bold;
  padding-bottom: 20px;
 }
.footer-country-one{
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.footer-develop-image{
  width: 174px;
  height: 73px;
}
 .too-two{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:15px;
  background-color: #fff;
  color: #333;
  padding: 10px 30px;
  border-radius: 15px;
  border:none;
 }
 .vat-one{
  font-size: 30px;
  max-width: 529px;
  color:#F8F9FD;
 }
 .vat-two{
  font-size: 19px;
  color: #F8F9FD;
  max-width: 570px;

 }
 .vat-three{
  font-size: 21px;
  /* width: 227px;
  height: 28px; */
 }
 @media(max-width:425px){
  .who-one{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    padding: 30px;
  }
  .too-one{
    display: block;
   }
  .vat-one{
    font-size: 25px;
    max-width: 529px;
    color:#F8F9FD;
   }
 }
 @media(max-width:425px){
  .ted-one{
      padding: 10px 20px;  
  }
  .sec-two{
    width: 400px;
    height: 200px;
    }
 }
 @media(max-width:375px){
 
  .sec-two{
    width: 300px;
    height: 200px;
    }
    .liv-one{
      margin: 1rem;
      
     }
 }
  /* <!----------------section-21------------------- */
  .link-image{
    width: 70px;
    height: 70px;
   }
   .social-one{
    display: flex;
   }
   .all-one{
    font-size: 22px;
   }
   .foot-one{
    width: 174px;
    width: 73px;
   }
   .image-35{
    width: 26px;
    height: 26px;
   }
   .locations{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:90px;
   }
   .loc-one{
    display:flex;
    justify-content:start;
    align-items: center;
   }
   .footer-four{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:15px;
   }
   .count-one{
    padding-left: 40px;
   }
  
   .contact{
    font-size: 21px;
    
   }
   .contact1{
    font-size: 18px;
   }
   .service{
    font-size: 22px;
   }
   .service-one {
    font-size: 18px;
    /* width: 208px;
    height: 25px; */
    /* gap:20px; */
    color:#000000;
   }
   .main-locations{
    margin:5rem
   }
   @media(max-width:768px){
    .locations{
      display:block;
       justify-content: center;
      align-items: center;
      /* gap:90px; */
     } 
     .footer-country-one{
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      gap: 10px;
      margin: auto;
    }
     .footer-develop{
      display: block;
      
   }
  }
   @media(max-width:768px){
    .con-one{
      display: block;
      text-align: start;
      justify-content: baseline;
    }
    .cal-one{
      right:0px;
      padding:5px 3px;
    }
    
   

    }
  
